binds {
    Mod+Return { spawn "alacritty"; }
    Mod+D      { spawn "fuzzel"; }
    Alt+Space  { spawn "fuzzel"; }

    /* WINDOW MANIPULATION
     *
     * Super = Mod
     *
     * + hnei (hjkl) - focus/direction
     * + Ctrl - move something
     * + Shift - monitors
     * + Alt - workspaces
     */

    /* Focus */

    // Window focus
    Mod+H     { focus-column-left; }
    Mod+N     { focus-window-or-workspace-down; }
    Mod+E     { focus-window-or-workspace-up; }
    Mod+I     { focus-column-right; }
    // Window focus (alternative)
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }

    // Monitor focus
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+N     { focus-monitor-down; }
    Mod+Shift+E     { focus-monitor-up; }
    Mod+Shift+I     { focus-monitor-right; }
    // Monitor focus (alternative)
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    /* Moving windows */

    // Window movement
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+N     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+E     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+I     { move-column-right; }
    // Window movement (alternative)
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right; }
    // Window movement in and out of columns
    Mod+Ctrl+BracketLeft  { consume-or-expel-window-left; }
    Mod+Ctrl+BracketRight { consume-or-expel-window-right; }

    // Window monitor movement
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+N     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+E     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+I     { move-column-to-monitor-right; }
    // Window monitor movement (alternative)
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    // Floating windows
    Mod+Ctrl+V  { toggle-window-floating; }
    Mod+V       { switch-focus-between-floating-and-tiling; }

    /* Moving workspaces */

    // Workspace movement
    Mod+Alt+Ctrl+N    { move-workspace-down; }
    Mod+Alt+Ctrl+E    { move-workspace-up; }
    // Workspace movement (alternative)
    Mod+Alt+Ctrl+Down { move-workspace-down; }
    Mod+Alt+Ctrl+Up   { move-workspace-up; }

    // Workspace monitor movement
    Mod+Alt+Shift+Ctrl+H     { move-workspace-to-monitor-left; }
    Mod+Alt+Shift+Ctrl+N     { move-workspace-to-monitor-down; }
    Mod+Alt+Shift+Ctrl+E     { move-workspace-to-monitor-up; }
    Mod+Alt+Shift+Ctrl+I     { move-workspace-to-monitor-right; }
    // Workspace monitor movement (alternative)
    Mod+Alt+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    Mod+Alt+Shift+Ctrl+Down  { move-workspace-to-monitor-down; }
    Mod+Alt+Shift+Ctrl+Up    { move-workspace-to-monitor-up; }
    Mod+Alt+Shift+Ctrl+Right { move-workspace-to-monitor-right; }

    // resize horizontal
    Mod+Minus       { set-column-width  "-5%"; }
    Mod+Equal       { set-column-width  "+5%"; }
    // resize vertical
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "s" "10%-"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "s" "10%+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // Escape shortcut inhibition
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+T            { spawn "wl-kbptr" "-o" "modes=floating" "-o" "mode_floating.source=detect"; }
    Mod+Shift+T      { spawn "wl-kbptr" "-o" "modes=floating,click" "-o" "mode_floating.source=detect"; }
    Mod+Ctrl+T       { spawn "wl-kbptr" "-o" "modes=tile,bisect"; }
    Mod+Shift+Ctrl+T { spawn "wl-kbptr" "-o" "modes=tile,bisect,click"; }

    Ctrl+Alt+Delete { quit; }
    Mod+Space       { switch-layout "next"; }
    Mod+Q           { close-window; }
    Mod+F           { maximize-column; }

    Ctrl+Alt+Shift+Mod+Q { spawn "pkill" "gnome-software"; }

    Mod+U allow-inhibiting=false { spawn "~/.local/bin/lock-screen"; }

    Mod+O repeat=false { toggle-overview; }

    Print       { screenshot; }
    Shift+Print { screenshot-screen; }
    Ctrl+Print  { screenshot-window; }

    Mod+Shift+R { spawn-sh "wl-copy site:reddit.com"; }
}
