input {
    keyboard {
        xkb {
            layout "us,ru"
            variant "colemak,rulemak"
            options "shift:both_capslock"
        }
    }

    touchpad {
        tap
        natural-scroll
        click-method "clickfinger"
    }

    tablet { map-to-output "eDP-1"; }
    touch { map-to-output "eDP-1"; }

    warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse max-scroll-amount="0%"
}

output "Philips Consumer Electronics Company PHL 223V5 UKC1416061845" {
    position x=0 y=0
}

output "Microstep MSI MD272QP PB1H522800254" {
    mode "2560x1440@75.000"
    position x=1920 y=0
}

output "eDP-1" {
    scale 2 // HiDPI laptop monitor
    position x=2480 y=1440
}

screenshot-path "~/Pictures/Screenshots/niri/screenshot_%Y-%m-%d_%H-%M-%S.png"

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// wallpapers
// swww is used for the main wallpaper
// swaybg is used for the wallpaper in the overview
layer-rule {
    match namespace="wallpaper" // "swww-daemon" for swww
    place-within-backdrop true
}

// focus ring
window-rule {
    focus-ring { on; }
}

binds {
    Mod+T      { spawn "alacritty"; }
    Mod+Return { spawn "alacritty"; }
    Mod+D      { spawn "fuzzel"; }
    Alt+Space  { spawn "fuzzel"; }

    /* WINDOW MANIPULATION
     *
     * Super = Mod
     *
     * + hnei (hjkl) - focus/direction
     * + Ctrl - move something
     * + Shift - monitors
     * + Alt - workspaces
     */

    /* Focus */

    // Window focus
    Mod+H     { focus-column-left; }
    Mod+N     { focus-window-or-workspace-down; }
    Mod+E     { focus-window-or-workspace-up; }
    Mod+I     { focus-column-right; }
    // Window focus (alternative)
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }

    // Monitor focus
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+N     { focus-monitor-down; }
    Mod+Shift+E     { focus-monitor-up; }
    Mod+Shift+I     { focus-monitor-right; }
    // Monitor focus (alternative)
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    /* Moving windows */

    // Window movement
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+N     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+E     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+I     { move-column-right; }
    // Window movement (alternative)
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right; }
    // Window movement in and out of columns
    Mod+Ctrl+BracketLeft  { consume-or-expel-window-left; }
    Mod+Ctrl+BracketRight { consume-or-expel-window-right; }

    // Window monitor movement
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+N     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+E     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+I     { move-column-to-monitor-right; }
    // Window monitor movement (alternative)
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    // Floating windows
    Mod+Ctrl+V  { toggle-window-floating; }
    Mod+V       { switch-focus-between-floating-and-tiling; }

    /* Moving workspaces */

    // Workspace movement
    Mod+Alt+Ctrl+N    { move-workspace-down; }
    Mod+Alt+Ctrl+E    { move-workspace-up; }
    // Workspace movement (alternative)
    Mod+Alt+Ctrl+Down { move-workspace-down; }
    Mod+Alt+Ctrl+Up   { move-workspace-up; }

    // Workspace monitor movement
    Mod+Alt+Shift+Ctrl+H     { move-workspace-to-monitor-left; }
    Mod+Alt+Shift+Ctrl+N     { move-workspace-to-monitor-down; }
    Mod+Alt+Shift+Ctrl+E     { move-workspace-to-monitor-up; }
    Mod+Alt+Shift+Ctrl+I     { move-workspace-to-monitor-right; }
    // Workspace monitor movement (alternative)
    Mod+Alt+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    Mod+Alt+Shift+Ctrl+Down  { move-workspace-to-monitor-down; }
    Mod+Alt+Shift+Ctrl+Up    { move-workspace-to-monitor-up; }
    Mod+Alt+Shift+Ctrl+Right { move-workspace-to-monitor-right; }

    // resize horizontal
    Mod+Minus       { set-column-width  "-5%"; }
    Mod+Equal       { set-column-width  "+5%"; }
    // resize vertical
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "s" "10%-"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "s" "10%+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // Escape shortcut inhibition
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Ctrl+Alt+Delete { quit; }
    Mod+Space       { switch-layout "next"; }
    Mod+Q           { close-window; }
    Mod+F           { maximize-column; }

    Ctrl+Alt+Shift+Mod+Q { spawn "pkill" "gnome-software"; }

    Mod+U allow-inhibiting=false { spawn "swaylock" "--color" "1f1f28" "--inside-color" "1f1f28" "--line-color" "1f1f2"; }

    Mod+O repeat=false { toggle-overview; }

    Print       { screenshot; }
    Shift+Print { screenshot-screen; }
    Ctrl+Print  { screenshot-window; }
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 1000
}

hotkey-overlay {
    skip-at-startup
}

layout {
    gaps 16
    default-column-width { proportion 0.5; }
    struts {}
}

environment {
    DISPLAY ":0" // xwayland-satellite
    SSH_AUTH_SOCK "/run/user/1000/gcr/ssh"
}

// disable middle click paste!!!
clipboard {
    disable-primary
}
