window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^org\.telegram\.desktop$"#

    // Doesn't quite work: Firefox changes the title one frame early.
    match app-id=r#"firefox$"# title="- Gmail "
    match app-id=r#"firefox$"# title="^Google Calendar "
    match app-id=r#"firefox$"# title="Todoist "
    match app-id=r#"firefox$"# title=r#"^GNOME( \*)?( \[\d+\])? \| "#
    match app-id=r#"firefox$"# title=r#"^Element "#
    match app-id=r#"firefox$"# title=r#"Discord \| "#

    block-out-from "screencast"
    // block-out-from "screen-capture"
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    shadow {
        on
        color "#7d0d2dff"
        softness 0
        offset x=0 y=0
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

layer-rule {
    // mako
    match namespace="^notifications$"
    match namespace="^dms:notification-popup$"
    block-out-from "screencast"
}
