[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 601 'niri msg action power-off-monitors' timeout 600 'swaylock -f --color 1f1f28 --inside-color 1f1f28 --line-color 1f1f2' before-sleep 'swaylock -f --color 1f1f28 --inside-color 1f1f28 --line-color 1f1f2'
Restart=on-failure
